body  {
  box-sizing: border-box;
}

.height-200 {
  height: 200px;
}

.height-100 {
  height: 100px;
}

.reiheAbstand {
  margin-top: 4%;
}
.reiheAbstand3  {
  margin-top: 2%;
}
.portrait {
  width: 80%;
}
.textLeft {
  text-align:justify;
  margin-right: 8%;
}
.links  {
  text-decoration: none;
}
.divlinks {
  text-align: center;
  padding-bottom: 5%;
}

.divlinks img {
  width: 10%;
}

.obersterTitel  {
  display: none;
}
.zweiterTitel {
  display: flex;
}

@media all and (max-width: 992px) {
  .obersterTitel  {
    display: inline;
  }
  .zweiterTitel {
    display: none;
  }
  .height-200 {
    height: 300px;
  }
}
.footerText{
  margin: 0;
}
